<div id="main-container">
  <div id="links-container">
    <img src="https://i.ibb.co/W5Kpkwz/LOGO-RDU-YOUTUBE-00039.png" class="logo-main" alt="Main Logo">
    <div id="buttons-container">
      <h3>Escucha el Podcast del RDU:</h3>
      <img class="pod-button" src="assets/spotify.png" alt="Escúchanos en Spotify">
      <img class="pod-button" src="assets/ivoox.png" alt="Escúchanos en Ivoox">
      <img class="pod-button" src="assets/itunes.png" alt="Escúchanos en iTunes">
    </div>
  </div>
  <div id="play-list-container">
    <div class="full-width">
      <div class="g-ytsubscribe" data-channelid="UCbKFAkt_qYU3dFc2-m9PSUw" data-layout="full" data-theme="dark" data-count="hidden"></div>
    </div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/videoseries?list=PLpyoizH7p6bMvRBPckg_2rCQkakaa4HGS"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  </div>
</div>
