#main-container {
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    box-sizing: border-box;
    min-width: 479px;
    overflow: auto;
    padding: 47px;
    height: 100vh;
    width: 100%;
}
.alli-button {
    width: 11px;
}
#links-container {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 50%;
    .logo-main {
        margin: auto;
        min-width: 410px;
        width: 80%;
    }
}
#play-list-container {
    width: 49%;
    text-align: center;
}
#play-list-container {
    display: inline-block;
    .g-ytsubscribe {
        width: 100%;
    }
}
.youtube-subscriber {
    text-align: right;
}
h3 {
    color: #ffffff;
    font-weight: bold;
}
#buttons-container {
    display: flex;
    justify-content: center;
    a {
        margin: auto;
        .pod-button {
            width: 100px;
        }
    }
}
#iframe-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

#iframe-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

#iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#social-footer {
    margin-top: 24px;
    h3 {
        width: 100%;
    }
    h4 {
        font-weight: bold;
    }
    h3, h4 {
        color: white;
        font-weight: bolder;
        text-align: center;
    }
    .social-allies {
        text-align: center;
        width: 100%;
        span {
            margin-right: 10px;
            display: inline-block;
        }
        p {
            width: 100%;
        }
    }
}
.social-container {
    display: flex;
    justify-content: center;
    width: auto;
    a {
        color: white;
        margin: 10px;
        &visited {
            color: white;
        }
    }
    .social-button {
        width: 50px;
    }
}
@media only screen and (max-width: 1100px) {
    #links-container {
        height: auto;
        justify-content: center;
        margin-bottom: 38px;
        text-align: center;
        width: 100%;
    }
    #play-list-container {
        width: 100%;
    }
}
.full-width {
    width: 100%;
}